beautifulsoup4==4.12.3
decorator==5.1.1
fastapi==0.111.0
fastapi-cli==0.0.4
json5==0.9.25
jupyterlab==4.2.0
notebook==7.2.0
pymongo==4.7.2
pytest==8.2.1
python-dotenv==1.0.1
selenium==4.21.0
uvicorn==0.29.0
nltk==3.8.1
Scrapy~=2.11.2
itemadapter~=0.9.0
mongomock==4.1.2